# local files
config.local
#output/

# virtual environment
env/
env32/

# notebooks
#notebooks/

# files that need to be fixed first
playground/

# accessory files
src/*.pyc
.ipynb_checkpoints/

# files to be removed
src/orbit_bins_test.py

