# local files
config.local
orbtid/
output/

# virtual environment
env/
env32/

# Data
data/

# notebooks
#notebooks/

# files that need to be fixed first
playground/

# accessory files
src/*.pyc
.ipynb_checkpoints/
*__pycache__/

# files to be removed
src/orbit_bins_test.py

# dask
notebooks/dask-worker-space
notebooks/mydask.png

